@import "styles/common.scss";

.feedbackWrap {
  @include Wrap;
  flex-direction: column;
  color: $bastille;
  font-family: "HandFont";

  .text {
    display: flex;
    color: $bastille;
  }

  .color1 {
    color: $balihali;
    margin-right: 0.3rem;
  }

  .color2 {
    color: $wenge;
    margin-right: 0.3rem;
  }

  .color3 {
    color: green;
  }

  .color4 {
    color: red;
  }

  .score {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .radioBtn {
    display: flex;
  }

  .radioWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 1.5rem;
    margin-top: 1rem;

    .radioBtns {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.5rem;
      height: 1.5rem;
      input[type="radio"] {
        display: none;
      }
      :checked + .radioBtn {
        background-color: $blue;
        border-radius: 10px;
        color: white;
      }
      .radioBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 1.5rem;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .subjectWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem;
    min-height: 2.8rem;
    margin-top: 1rem;
    overflow-x: scroll;

    .subjectBtns {
      display: flex;
      font-size: 1.5rem;
      input[type="radio"] {
        display: none;
      }
    }
    :checked + .subjectBtn {
      background-color: $blue;
      border-radius: 10px;
      color: white;
    }
    .subjectBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.5rem;
      height: 1.5rem;
      background-color: white;
      border-radius: 10px;
      margin-right: 1rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .toggleWrap {
    @include Wrap;
    align-items: center;
    margin-bottom: 1rem;

    .feedbackTitle {
      font-family: "HandFont";
      font-size: 2rem;
      font-weight: 600;
      margin-left: 1rem;
      margin-bottom: 0.2rem;
    }

    .toggleSwitch {
      display: block;
      position: relative;
      width: 5rem;
      height: 1.6rem;
      border-radius: 2rem;
      background: #45d811;
      color: white;
      margin-left: 1rem;
      cursor: pointer;
      .toggleText {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        font-weight: 800;
        transform: translate(0, -50%);
        margin-bottom: 0.2rem;
      }
    }
  }

  .toggleSwitch .toggleButton {
    position: absolute;
    top: 50%;
    left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: white;
    transform: translateY(-50%);
  }

  .toggle:checked ~ .toggleSwitch {
    background: $blue;
    .toggleText {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(0, -50%);
    }
  }

  .toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 1.5rem);
    background: white;
  }

  .toggleSwitch,
  .toggleButton {
    transition: all 0.2s ease-in;
  }

  .feedbackLogWrap {
    display: relative;
    padding: 0 1rem;
    max-height: 28rem;
    overflow-y: scroll;

    .feedbackLog {
      padding: 0.5rem;
      border-radius: 10px;
      background-color: white;
      margin-bottom: 1rem;
      font-size: 1.5rem;

      .commentBtn {
        display: absolute;
        height: 1.5rem;
        width: 2rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        cursor: pointer;
      }
    }
    .blankFeedback {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      font-size: 2rem;
      height: 20rem;
    }
  }

  .feedbackInputWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem;
    margin-bottom: 1rem;

    .feedbackInput {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 1rem;
      textarea {
        resize: none;
        border: none;
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1.5rem;
        height: 10rem;
        background-color: white;
      }
    }

    .feedbackSubmit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3rem;
      background-color: $blue;
      border-radius: 10px;
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
