@import url("https://fonts.googleapis.com/css2?family=Kranky&display=swap");

.headerWrap {
  @include Wrap;

  align-items: center;
  justify-content: space-around;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "HandFontT";
    width: 40%;
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
