.pageWrap {
  max-width: 50rem;
  min-height: calc(100vh - 8rem);
  margin: 0 auto;

  .background {
    @include background;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: "HandFontT";
    margin-bottom: 2rem;
  }

  input {
    width: 20rem;
    height: 10rem;
    font-size: 5rem;
    border-radius: 15px;
    font-family: "HandFontT";
  }
}
