//colors
$bastille: #3d313f;
$wenge: #847072;
$balihali: #869dab;
$desertsand: #dcc1b0;
$blue: #2678f3;
$gray: #edeff2;

@font-face {
  font-family: "NanumSquare";
  src: url("../public/font/NanumSquareRoundOTFR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
