@import "styles/common.scss";

.feedbackWrap {
  @include Wrap;
  flex-direction: column;
  color: $bastille;

  .radioBtn {
    display: flex;
  }

  .radioWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 1.5rem;
    .radioBtns {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 0.9rem;
      height: 1.5rem;
      input[type="radio"] {
        display: none;
      }
      :checked + .radioBtn {
        background-color: $blue;
        border-radius: 10px;
        color: white;
      }
      .radioBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 1.2rem;
        background-color: $gray;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  .subjectWrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem;
    min-height: 1.5rem;
    margin-top: 0.5rem;
    overflow-x: scroll;

    .subjectBtns {
      display: flex;
      font-size: 0.9rem;
      input[type="radio"] {
        display: none;
      }
    }
    :checked + .subjectBtn {
      background-color: $blue;
      border-radius: 10px;
      color: white;
    }
    .subjectBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.5rem;
      height: 1.2rem;
      background-color: $gray;
      border-radius: 10px;
      margin-right: 1rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .toggleWrap {
    @include Wrap;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .feedbackTitle {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 0.2rem;
      margin-left: 1rem;
    }

    .toggleSwitch {
      display: block;
      position: relative;
      width: 5rem;
      height: 1.6rem;
      border-radius: 2rem;
      background: #45d811;
      color: white;
      margin-left: 1rem;
      cursor: pointer;
      .toggleText {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1rem;
        font-weight: 600;
        transform: translate(0, -50%);
        margin-top: 0.1rem;
      }
    }
  }

  .toggleSwitch .toggleButton {
    position: absolute;
    top: 50%;
    left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: white;
    transform: translateY(-50%);
  }

  .toggle:checked ~ .toggleSwitch {
    background: $blue;
    .toggleText {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(0, -50%);
    }
  }

  .toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 1.5rem);
    background: white;
  }

  .toggleSwitch,
  .toggleButton {
    transition: all 0.2s ease-in;
  }

  .feedbackLogWrap {
    padding: 0 1rem;
    max-height: 28rem;
    overflow-y: scroll;

    .feedbackLog {
      padding: 0.5rem;
      border-radius: 10px;
      background-color: $gray;
      margin-bottom: 1rem;
    }
  }
}
