@import url("https://fonts.googleapis.com/css2?family=Kranky&display=swap");

.pageWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  min-height: calc(100vh - 8rem);
  margin: 0 auto;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.header {
  font: 1rem "Kranky", cursive;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 2rem;
  padding: 0 0.8rem;
  border-radius: 0.6rem;
  background: white;
  font-size: 0.8rem;
  border: 1px solid #e5e7eb;
}

.input {
  all: unset;
  width: calc(100% - 4rem);
}

.info {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.infoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb;
  border-radius: 0.6rem;
  height: 1.5rem;
  width: 3.5rem;
  background-color: #2678f3;
  color: white;
}
