@import "/styles/common.scss";

@mixin blackhole {
  display: flex;
  justify-content: center;
  height: 15%;
}

.userInfoWrap {
  @include Wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $bastille;

  .intraInfo {
    height: 10rem;
    width: 50%;

    .intraId {
      display: flex;
      justify-content: center;
      height: 15%;
      font-weight: 700;
    }
    .profileImg {
      display: flex;
      justify-content: center;
      height: 70%;
    }
    .redTime {
      @include blackhole;
      color: rgb(238, 97, 114);
    }
    .yellowTime {
      @include blackhole;
      color: rgb(223, 149, 58);
    }
    .greenTime {
      @include blackhole;
      color: rgb(89, 209, 123);
    }
    .blueTime {
      @include blackhole;
      color: rgb(0, 186, 188);
    }
  }

  .statInfo {
    height: 10rem;
    width: 50%;

    .circle {
      display: flex;
      justify-content: center;
      height: 15%;
      font-weight: 700;
    }

    .levelImg {
      display: flex;
      justify-content: center;
      height: 70%;
    }

    .ePoint {
      display: flex;
      justify-content: center;
      height: 15%;
    }
  }
}
